In [1]:
import pandas as pd

In [4]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
#Q1. List any five functions of the pandas library with execution.
data = {'Name':['Alice','Bob','Clare'],

          'Age':[25,30,27],

        'Gender':['Female','Male','Female']}
df = pd.DataFrame(data)

print(df)
df.head()
df.tail()
df.describe()
df.max()
df['Name'].unique()

    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male
2  Clare   27  Female

array(['Alice', 'Bob', 'Clare'], dtype=object)

In [16]:
'''Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.'''
def reindex_df(df):
    new_index = pd.RangeIndex(start=1, step=2, stop=len(df)*2)
    return df.set_index(new_index)
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
reindexed_df = reindex_df(df)
print(reindexed_df)

   A  B  C
1  1  4  7
3  2  5  8
5  3  6  9

In [37]:
'''Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.'''
#Ans 

import pandas as pd
def Cal_add():
    Ab=df['values'][:3].sum()
    print(Ab)
df = pd.DataFrame({'values': [10, 20, 30, 40, 50]})
Cal_add()

60

In [53]:
'''Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.'''
import pandas as pd 
data={'Name':['sanju','ranju','manju'],
     'sir_name':['Gupta','gupta','gupta'],
     'text':['abc','edf','fgh']}
df = pd.DataFrame(data)
df['new_text']=df['text']
print(df)

    Name sir_name text new_text
0  sanju    Gupta  abc      abc
1  ranju    gupta  edf      edf
2  manju    gupta  fgh      fgh

In [54]:
#Q5. How are DataFrame.size() and DataFrame.shape() different?

Both DataFrame.size() and DataFrame.shape() are methods of a Pandas DataFrame that can be used to get information about its size and shape, but they return different types of information.

DataFrame.shape() returns a tuple that contains the number of rows and columns in the DataFrame. The number of rows is represented by the first element of the tuple, and the number of columns is represented by the second element of the tuple. For example, if a DataFrame has 10 rows and 5 columns, DataFrame.shape() will return (10, 5).

DataFrame.size() returns the total number of elements in the DataFrame, which is equal to the product of the number of rows and the number of columns. For example, if a DataFrame has 10 rows and 5 columns, DataFrame.size() will return 50.

In summary, DataFrame.shape() returns the dimensions of the DataFrame (number of rows and columns), while DataFrame.size() returns the total number of elements in the DataFrame.

import pandas as pd 
data={'Name':['sanju','ranju','manju'],
     'sir_name':['Gupta','gupta','gupta'],
     'text':['abc','edf','fgh']}
df = pd.DataFrame(data)
df['new_text']=df['text']
print("Data frame shape",df.shape)
print("Data frame size",df.size)
print(df)

Data frame shape (3, 4)
Data frame size 12
    Name sir_name text new_text
0  sanju    Gupta  abc      abc
1  ranju    gupta  edf      edf
2  manju    gupta  fgh      fgh

In [ ]:
Q6. Which function of pandas do we use to read an excel file?
pd.read_excel("")

In [71]:
'''Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.'''

import pandas as pd 
data={'Name':['sanju','ranju','manju'],
     'sir_name':['Gupta','gupta','gupta'],
     'text':['abc','edf','fgh'],
      'Email_id':['sanju@gmail.com','ranju@gmail.com','manju@gmail.com']
     }
df = pd.DataFrame(data)
df['new_Emailid']=df['Email_id'].str.split('@').str[0]
print(df)

    Name sir_name text         Email_id new_Emailid
0  sanju    Gupta  abc  sanju@gmail.com       sanju
1  ranju    gupta  edf  ranju@gmail.com       ranju
2  manju    gupta  fgh  manju@gmail.com       manju

In [ ]:
Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
  A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2
Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

In [85]:
#Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
#median, and standard deviation of the values in the 'Values' column.
import pandas as pd 
dta=({'values':[1,2,3,4,5,6,7,8,9,10]})
df = pd.DataFrame(dta)

print("mean",df.mean())
print("median",df.median())
print("standard deviation",df.std())

mean values    5.5
dtype: float64
median values    5.5
dtype: float64
standard deviation values    3.02765
dtype: float64

In [ ]:
'''Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.'''

In [ ]:
Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [5]:
import pandas as pd

def add_weekday_column(df):
    # Convert the 'Date' column to a datetime object
    df['Date'] = pd.to_datetime(df['Date'])

    # Create a new column 'Weekday' with the weekday name
    df['Weekday'] = df['Date'].dt.day_name()

    return df
import pandas as pd

# Create a sample DataFrame
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({
    'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-09-05']
})

# Call the function to add the 'Weekday' column
df = add_weekday_column(df)

# Print the DataFrame
print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-09-05    Tuesday

In [10]:
'''Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.'''
#Answer:-
import pandas as pd

def select_january_data(df):
    # Convert the 'Date' column to a datetime object
    df['Date'] = pd.to_datetime(df['Date'])

    # Create a boolean mask for the rows where the date is in January 2023
    mask = (df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')

    # Use the boolean mask to select the rows
    january_data = df.loc[mask]

    return january_data
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({
    'Date': ['2023-01-01', '2023-01-31', '2023-02-01', '2023-03-01']
})

# Call the function to select the January data
january_data = select_january_data(df)

# Print the January data
print(january_data)

        Date
0 2023-01-01
1 2023-01-31

In [ ]:
'''Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?'''
Answer:- 
Installing and Getting Started with Pandas

As Pandas is dependent on the NumPy library, we need to import this dependency.